* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Inter font */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* common styles */
.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0px 120px;
}
.btn {
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    padding: 12px 16px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: fit-content
}
.btn:hover {
    background-color: #30B868;
    color: #001931;
}
/* Header styles */
header {
    background-color: #FFFFFF;
    padding: 16px 0px;
}
header div.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul {
    display: flex;
    list-style: none;
    gap: 12px;
    align-items: center;
}
header ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 8px;
}
header ul li a:hover {
    background-color: #627382;
    padding: 8px 12px;
    border-radius: 8px;
    color: #FFFFFF;
}

/* Hero section styles */
.hero-section {
    background: linear-gradient(rgba(0, 25, 49, 0.4), rgba(0, 25, 49, 0.0)),
  url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.hero-section .hero-top-btn {
    background-color: #FFFFFF;
    color: #469165;
    padding: 8px 12px;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
    
}
.hero-section .hero-top-btn:hover {
    background-color: #d6ddda;
}
.hero-top-btn .icon {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #469165;
    box-shadow: 0 0 0 4px rgba(70, 145, 101, 0.25);
}
.hero-section h1 {
    color: #ffffff;
    font-size: 72px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    line-height: 84px;
}
.hero-section h1 div {
    color: #30B868;
}
.hero-description p {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 34px;
    max-width: 800px;
}
.hero-section .hero-bottom,
.hero-section .hero-bottom button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.hero-section .hero-bottom button {
    gap: 10px;
}

.hero-section .hero-bottom .btn-right {
    background-color: transparent;
    border: 1px solid #FFFFFF;
}
.hero-section .hero-bottom .btn-right:hover {
    background-color: #FFFFFF;
    color: #469165;
    transition: background-color 0.3s ease, color 0.3s ease;
}
/* Notes Section Styles */
.note-section {
    padding-top: 50px;
    background: linear-gradient(to bottom, #F9FAFB, #FFFFFF);
    text-align: center;
}
.note-section h1 {
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}
.note-section p {
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}
.notes-card-section {
    display: flex;
    gap: 24px;
    margin-top: 40px;
}
.notes-card-section .notes-card {
    padding: 24px;
    display: flex;
    flex-direction: column; 
    gap: 16px;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 16px 16px 0px 0px;
    box-shadow: 0px -3px 8px rgba(0, 0, 0, 0.1);
    height: 300px;
    text-align: center;
}
.notes-card img {
    width: 60px;
    height: 60px;
    padding: 14px;
    border-radius: 50%;
    background-color: #F95555;
}
.notes-card h3 {
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
    color: #001931;
}
.notes-card p {
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 20px
}

/* Second Brain Section Styles */
.second-brain-section {
    display: flex;
    gap: 60px;
    /* justify-content: center; */
    align-items: center;
    padding: 120px 0;
}
.second-brain-section img {
    border-radius: 12px;
}
.second-brain-text {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.second-brain-text h4 {
    font-size: 16px;
    font-weight: 500px;
    text-transform: uppercase;
    color: #469165;
}
.second-brain-text h1 {
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    line-height: 58px;
}
.second-brain-text p {
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 20px;
}
.second-brain-text ul {
    margin-top: 16px;
    list-style: none;
}
.second-brain-text ul li img {
    width: 20px;
    height: 20px;
}
.second-brain-text ul li {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 16px;
    line-height: 20px;
    color: #001931;
}

/* Early Access Section Styles */
.early-access-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 80px 40px;
    background-color: #F7F6F2;
    margin-bottom: 120px;
}
.early-access-section h1 {
    font-size: 40x;
    font-weight: 700;
    color: #001931;
}
.early-access-section p {
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    text-align: center;
    line-height: 24px;
}
.early-access-section button {
   margin-top: 8px;
}
.early-access-section p:nth-last-child(1) {
    line-height: 20px;
}

/* Footer Styles */
footer {
    background-color: #001931;
    color: #FFFFFF;
    padding-top: 120px;
    padding-bottom: 30px;
    max-width: 1600px;
    margin: 0 auto;
}
footer .footer-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.footer-top .social-links {
    max-width: 220px;
}
.footer-top .social-links h4 {
    font-size: 20x;
    font-weight: 500;
    margin-bottom: 16px;
    color: #FFFFFF
}

.footer-top .social-links a {
    text-decoration: none;
    color: #001931;
    background-color: #FFFFFF;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    line-height: 22px;
}

.footer-bottom {
    border-top: 1px solid #35425c;
    padding-top: 30px;
    text-align: center;
}
.footer-bottom p {
    font-size: 16px;
    font-weight: 400;
    color: #c9ccd3
}