* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Inter font */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* common styles */
.container {
    max-width: 1360px;
    margin: 0 auto;
}
.btn {
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    padding: 12px 16px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
/* Header styles */
header {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
}
header ul {
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}
header ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 16px;
}