* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Inter font */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* common styles */
.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0px 120px;
}
.btn {
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    padding: 12px 16px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
/* Header styles */
header {
    background-color: #FFFFFF;
    padding: 16px 0px;
}
header div.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul {
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}
header ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 16px;
}

/* Hero section styles */
.hero-section {
    background: linear-gradient(rgba(0, 25, 49, 0.4), rgba(0, 25, 49, 0.0)),
  url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.hero-section .hero-top-btn {
    background-color: #FFFFFF;
    color: #469165;
    padding: 8px 12px;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
    
}
.hero-top-btn .icon {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #469165;
    box-shadow: 0 0 0 4px rgba(70, 145, 101, 0.25);
}
.hero-section h1 {
    color: #ffffff;
    font-size: 72px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    line-height: 84px;
}
.hero-section h1 div {
    color: #30B868;
}
.hero-description p {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 34px;
    max-width: 800px;
}
.hero-section .hero-bottom,
.hero-section .hero-bottom button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.hero-section .hero-bottom button {
    gap: 10px;
}

.hero-section .hero-bottom .btn-right {
    background-color: transparent;
    border: 1px solid #FFFFFF;
}

/* Notes Section Styles */
.note-section {
    padding-top: 50px;
    background-color: #F9FAFB;
    text-align: center;
}
.note-section h1 {
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}
.note-section p {
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}
.notes-card-section {
    display: flex;
    gap: 24px;
    margin-top: 40px;
}
.notes-card-section .notes-card {
    padding: 24px;
    display: flex;
    flex-direction: column; 
    gap: 16px;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    height: 300px;
    text-align: center;
}
.notes-card img {
    width: 60px;
    height: 60px;
    padding: 14px;
    border-radius: 50%;
    background-color: #F95555;
}
.notes-card h3 {
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
    color: #001931;
}
.notes-card p {
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}